
@{
    ViewBag.Title = "CheckInput";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
    DateTime dt = DateTime.Now;
}

<div class="container">
    <h2>Name:@ViewBag.Name 你好，歡迎光臨!</h2>
    <h2>現在是: @dt</h2>   
</div>

