
@{
    ViewBag.Title = "MyTest3";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
    string s = "<strong><font color='red'>This is bold!</font></strong>";
}

<h2>MyTest3</h2>
<span>@Html.Raw(s)</span>
<span>@s</span>



